# Sanity Studio Environment Variables
# Variables exposed to Sanity Studio must start with SANITY_STUDIO_
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_API_VERSION=2026-09-26
